extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main 
    +box-head("Tài khoản")
    +alert-success(3000)
    +alert-error(3000)
    .card.mb-3 
        .card-header Danh sách 
            .card-body
                .row 
                    .col-8 
                    .col-4 
                        a(
                            href= `${prefixAdmin}/accounts/create`
                            class="btn btn-outline-success"
                        ) Thêm mới

                table(
                    class="table table-hover table-sm"
                    checkbox-multi
                )
                    thead   
                        tr 
                            th STT 
                            th Fullname
                            th Email
                            th Phone
                            th Avartar 
                            th Phân quyền
                            th Hành động
                    tbody 
                    if(records.length > 0)
                        each item,index in records
                            tr 
                                td #{index+1}
                                //- td #{pagination.limitItem*(pagination.currentPage -1) + (index+1)}
                                td #{item.fullname}
                                td #{item.email}
                                td #{item.phone}
                                td 
                                    img(src=item.avartar width="auto" height="60px")
                                td #{item.role.title}
                                td 
                                    a(
                                        href=`${prefixAdmin}/accounts/detail/${item.id}`
                                        class="btn btn-secondary btn-sm"
                                    ) Chi tiết
                                    a(
                                        href=`${prefixAdmin}/accounts/edit/${item.id}`
                                        class="btn btn-warning btn-sm"
                                    ) Sửa
                                    button(
                                        class="btn btn-danger btn-sm ml-1"
                                        data-id=item.id
                                        button-delete
                                    ) Xoá 
                    else 
                        tr 
                            td(colspan="4" class="text-center") Chưa có tài khoản nào được tạo
    form(
        action="" 
        method="POST"
        id="form-delete"
        data-path=`${prefixAdmin}/accounts/delete`
    )
         