mixin search(keyword) 
    form(id="form-search")
                        input(
                            type="text"
                            placeholder="Nhập từ khoá"
                            name="keyword"
                            value=keyword
                            class="form-control"
                        )
                        .input-group-append 
                            button(
                                class="btn btn-success"
                                type="submit"
                            ) Tìm kiếm